<div class="form-group row multiple-form-group itinerary" style="padding:10px;margin:0">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <%= f.input :blood_type, collection: MedicalRecord.blood_types.collect { |bt| [MedicalRecord.human_attribute_name("blood_type.#{bt[0]}"), bt[0]] },
      input_html: { class: 'form-control ctype' }, label: false, prompt: 'Tipo de sangre' %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <%= f.input :prefered_medical_center, input_html: { class: 'form-control',
      placeholder: 'Centro médico preferido' }, label: false, required: true %>
  </div>
</div>
<div class="form-group row multiple-form-group itinerary" style="padding:10px;margin:0">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <%= f.input :medical_insurance, input_html: { class: 'form-control',
      placeholder: 'Previsión médica' }, label: false, required: true %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <%= f.input :health_insurance, input_html: { class: 'form-control',
      placeholder: 'Seguro médico' }, label: false, required: true %>
  </div>
</div>
<h3>Condiciones médicas</h3>
<div class="panel panel-default">
  <%= f.simple_fields_for :medical_conditions do |mc| %>
    <div class="form-group row multiple-form-group medical" style="padding:10px;margin:0">
      <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
          <%= mc.input :name, input_html: { class: 'form-control name',
            placeholder: 'Nombre' }, label: false, required: true %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <%= mc.input :risk, input_html: { class: 'form-control risk',
            rows: 5, placeholder: 'Describa el riesgo que implica para la actividad' },
            label: false, required: true %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
          <div class="row">
            <%= mc.input :medicine, input_html: { class: 'form-control medicine',
              placeholder: 'Medicamento' }, label: false, required: true %>
          </div>
          <div class="row">
            <%= mc.input :dose, input_html: { class: 'form-control dose',
              placeholder: 'Dosis/Frecuencia' }, label: false, required: true %>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <%= mc.input :side_effects, input_html: { class: 'form-control side-effects',
            rows: 5, placeholder: 'Efectos secundarios' },
            label: false, required: true %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
          <%= mc.input :comment, input_html: { class: 'form-control comment',
            rows: 5, placeholder: 'Comentarios' },
            label: false, required: true %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1" style="padding: 0">
        <span class="input-group-btn text-left">
          <button type="button" class="btn btn-default btn-add">+</button>
        </span>
        <span class="input-group-btn text-right">
          <button type="button" class="btn btn-danger btn-remove">–</button>
        </span>
      </div>
    </div>
  <% end %>
</div>
<div class="form-actions row">
  <div class="col-md-5">
    <%= f.submit 'Guardar', class: 'btn btn-success' %>
  </div>
</div>
