<%= link_to 'Atrás', :back, class: 'btn btn-default' %>
<h1 class="text-center">Editar ficha médica</h1>

<div style="width:90%;margin:auto">
  <%= simple_form_for(@medical_record, url: medical_record_path) do |f| %>
    <%= f.error_notification %>
    <%= render 'form', f:f %>
  <% end %>
</div>
