<div class="row text-center">
  <img height="150" width="150" id="avatar" class="img-circle" src="<%= (@user.avatar.present? and !@user.avatar_updated_at_changed?)? @user.avatar.url(:medium) : asset_path('default-profile.jpg') %>">
  <p><small class="info">(Tamaño máximo de 5MB)</small></p>
</div>
<br>
<div class="input-group user-img image-preview text-center" style="width:30%;left:35%">
  <input type="text" class="form-control image-preview-filename" disabled="disabled">
  <span class="input-group-btn">
    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
      <span class="glyphicon glyphicon-remove"></span> Quitar
    </button>
    <div class="btn btn-default image-preview-input">
      <span class="glyphicon glyphicon-folder-open"></span>
      <span class="image-preview-input-title">Buscar</span>
      <%= f.file_field :avatar %>
    </div>
  </span>
</div>

<div class="form-group row" style="padding:10px;margin:0">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <%= f.input :first_name, input_html: { class: 'form-control',
      placeholder: 'Nombre' }, required: true %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <%= f.input :last_name, input_html: { class: 'form-control',
      placeholder: 'Apellido' }, required: true %>
  </div>
</div>
<div class="form-group row" style="padding:10px;margin:0">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <%= f.input :birthday, input_html: { class: 'form-control', data: {
      date_options: { format: 'DD/MM/YYYY' } } },
      required: true, as: :date_picker %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <%= f.input :gender, collection: User.genders.collect { |ct| [User.human_attribute_name("gender.#{ct[0]}"), ct[0]] },
      as: :radio_buttons, item_wrapper_class: 'inline', required: true %>
  </div>
</div>
<% if params[:action] != 'new' %>
<div class="form-group row" style="padding:10px;margin:0">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <%= f.input :password, input_html: { class: 'form-control' } %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <%= f.input :password_confirmation, input_html: { class: 'form-control' } %>
  </div>
</div>
<% end %>
<div class="form-group row" style="padding:10px;margin:0">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <%= f.input :phone, input_html: { class: 'form-control',
      placeholder: '+569...' }, required: true %>
  </div>
</div>
<% if current_user.admin? %>
  <div class="form-group row" style="padding:10px;margin:0">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <%= f.input :active, collection: [['Activo', true],['Inactivo', false]],
        as: :radio_buttons, item_wrapper_class: 'inline', required: true %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <%= f.input :role, collection: User.roles.collect { |r| [t(r[0]), r[0]] },
        input_html: { class: 'form-control ctype' }, prompt: 'Tipo de usuario' %>
    </div>
  </div>
  <div class="form-group row" style="padding:10px;margin:0">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <%= f.input :member_number, input_html: { class: 'form-control',
        placeholder: 'Nombre' }, required: true %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <%= f.input :email, input_html: { class: 'form-control',
        placeholder: 'Apellido' }, required: true %>
    </div>
  </div>
  <div class="form-group row" style="padding:10px;margin:0">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <%= f.input :date_of_joining, input_html: { class: 'form-control', data: {
        date_options: { format: 'DD/MM/YYYY' } } },
        required: true, as: :date_picker %>
    </div>
  </div>
<% end %>
<h3>Contacto de emergencia</h3>
<div class="panel panel-default">
  <%= f.simple_fields_for :emergency_contact do |ec| %>
    <div class="form-group row multiple-form-group ecs" style="padding:10px;margin:0">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= ec.input :name, input_html: { class: 'form-control name',
          placeholder: 'Nombre' }, label: false, required: true %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= ec.input :email, input_html: { class: 'form-control email',
          placeholder: 'Correo electrónico' }, label: false %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <%= ec.input :phone, input_html: { class: 'form-control phone',
          placeholder: 'Teléfono' }, label: false, required: true %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <%= ec.input :additional_phone, input_html: { class: 'form-control additional-phone',
          placeholder: 'Teléfono adicional' }, label: false %>
      </div>
    </div>
  <% end %>
</div>
<div class="form-actions row">
  <div class="col-md-5">
    <%= f.submit 'Guardar', class: 'btn btn-success' %>
  </div>
</div>
