<tr class="tn-item-<%= t.id %>">
  <td><%= t.zone %></td>
  <td><%= t.route %></td>
  <td><%= l(t.updated_at, format: :def1) %></td>
  <td>
    <% t.participants.each_with_index do |p, index| %>
      <%= ', ' if index > 0 %>
      <%= link_to p.full_name2, user_path(p) %>
    <% end %>
  </td>
  <td id="send-btn-container">
    <%= 'Enviado' if t.sent? %>
    <%= link_to 'Enviar', 'javascript:void(0)', id: 'send-btn',
      class: 'btn btn-primary', 'data-tn-id': t.id if t.saved? %>
  </td>
  <td class="text-right">
    <%= link_to raw('<i class="glyphicon glyphicon-eye-open"></i>'),
      trip_notice_path(t, request: 'preview'), target: '_blank', class: "btn btn-info",
      title: "Ver" %>
    <%= link_to raw('<i class="glyphicon glyphicon-download"></i>'),
      trip_notice_path(t, request: 'download'), class: "btn btn-success download",
      id: 'dwnl-btn', title: "Descargar", style: t.sent? ? '' : 'display: none' %>
    <%= link_to raw('<i class="glyphicon glyphicon-pencil"></i>'),
      edit_trip_notice_path(t), title: "Editar", class: "btn btn-warning edit", style: t.saved? ? '' : 'display: none' %>
  </td>
</tr>
