<div class="row">
  <div class="board">
    <div class="board-inner">
      <ul style="margin:0" class="nav nav-tabs" id="myTab">
        <div class="liner"></div>
        <% if @current_user.member? || @current_user.admin?%>
          <li class="active">
            <a href="#profile" data-toggle="tab" title="Información de perfil">
              <span class="round-tabs one"><i class="glyphicon glyphicon-user"></i></span>
            </a>
          </li>
          <li>
            <a href="#medical_record" data-toggle="tab" title="Ficha médica">
              <span class="round-tabs two"><i class="fa fa-medkit"></i></span>
            </a>
          </li>
        <% end %>
        <% if @current_user.member? || @current_user.admin?%>
          <li>
        <%else%>
          <li class="active">
        <%end%>
          <a href="#trip_notices" data-toggle="tab" title="Avisos de salida">
            <span class="round-tabs three"><i class="glyphicon glyphicon-list-alt"></i></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
    <% if @current_user.member? || @current_user.admin?%>
      <div class="tab-pane fade in active" id="profile">
        <div class="row">
          <div class="col-md-8 col-lg-8">
          	<div class="well profile" style="width:100%">
              <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                  <h2><%= @user.full_name2 %></h2>
                  <p><i class='glyphicon glyphicon-envelope'></i> <strong>Correo electrónico: </strong> <%= @user.email %> </p>
                  <p><i class='fa fa-intersex'></i> <strong>Género: </strong> <%= t(@user.gender) %> </p>
                  <p><i class='fa fa-blind'></i> <strong>Edad: </strong> <%= @user.age %> </p>
                  <p><i class='glyphicon glyphicon-ok'></i> <strong>Estado: </strong> <%= raw("<span class='text-success'>Activo</span>") if @user.active %> <%= raw("<span class='text-danger'>Inactivo</span>") unless @user.active %> </p>
                  <p><i class='fa fa-mobile-phone'></i> <strong>Teléfono: </strong> <%= @user.phone %> </p>
                  <p><i class='fa fa-database'></i> <strong>Número de socio: </strong> <%= @user.member_number %> </p>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                  <%= link_to raw("<i class='fa fa-edit'></i>"), edit_user_path(@user),
                    'data-turbolinks': false, class: 'btn btn-info pull-right' %>
                  <figure>
                    <%= image_tag @user.image, class: 'img-circle img-responsive' %>
                    <figcaption class="ratings">
                      <p><%= t(@user.role) + ' ' + @user.seniority.to_s %><%= @user.date_of_joining.year == Date.current.year ? ' meses' : ' años' if @user.date_of_joining.present? %>
                      </p>
                    </figcaption>
                  </figure>
                </div>
              </div>
              <!-- <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                  <h2><strong> <%= @user.trip_notices.length %> </strong></h2>
                  <p><small>Salidas</small></p>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                  <h2><strong>Al día</strong></h2>
                  <p><small>Estado financiero</small></p>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                  <h2><strong>M2</strong></h2>
                  <p><small>Último nivel completado</small></p>
                </div>
              </div> -->
          	</div>
      		</div>
          <div class="col-md-4 col-lg-4">
          	 <div style="width:100%" class="well profile">
               <h3 style="margin-top:0">Contacto de emergencia</h3>
               <% if @user.emergency_contact.present? %>
                 <div class="col-sm-12">
                   <h4><%= @user.emergency_contact.name %></h4>
                 </div>
                 <div class="col-sm-11 col-sm-offset-1">
                   <p><%= raw("<i class='glyphicon glyphicon-envelope'></i> #{@user.emergency_contact.email}") %></p>
                   <p><%= raw("<i class='fa fa-mobile-phone'></i> #{@user.emergency_contact.phone}") %></p>
                   <p><%= raw("<i class='fa fa-mobile-phone'></i> #{@user.emergency_contact.additional_phone}") if @user.emergency_contact.additional_phone.present? %> </p>
                 </div>
               <% end %>
          	 </div>
      		</div>
        </div>
      </div>
      <div class="tab-pane fade" id="medical_record">
        <div class="row text-right">
          <%= link_to 'Editar', edit_medical_record_path,
            'data-turbolinks': false, class: 'btn btn-info' if @user.medical_record.present? %>
          <%= link_to 'Nueva Ficha Médica', new_medical_record_path,
            'data-turbolinks': false, class: 'btn btn-info' unless @user.medical_record.present? %>
        </div>
        <h2 class="text-center">Ficha médica</h2>
        <p style="color:#1fcaa7;font-weight:bold"><em>* A la ficha médica solo usted y los administradores del sistema tiene acceso.</em></p>
        <% if @user.medical_record.present? %>
          <table class="table">
            <thead>
              <tr>
                <th>Tipo de sangre</th>
                <th>Previsión</th>
                <th>Seguro</th>
                <th>Centro médico de preferencia</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= t(@user.medical_record.blood_type) if @user.medical_record %></td>
                <td><%= @user.medical_record.medical_insurance if @user.medical_record %></td>
                <td><%= @user.medical_record.health_insurance if @user.medical_record %></td>
                <td><%= @user.medical_record.prefered_medical_center if @user.medical_record %></td>
              </tr>
            </tbody>
          </table>
          <br>
          <% if @user.medical_record.medical_conditions %>
            <h3>Condiciones médicas</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Riesgo</th>
                  <th>Medicamento</th>
                  <th>Dosis/frecuencia</th>
                  <th>Efectos secundarios</th>
                  <th>Comentarios</th>
                </tr>
              </thead>
              <tbody>
                <% @user.medical_record.medical_conditions.each do |mc| %>
                  <tr>
                    <td><%= mc.name %></td>
                    <td><%= mc.risk %></td>
                    <td><%= mc.medicine %></td>
                    <td><%= mc.dose %></td>
                    <td><%= mc.side_effects %></td>
                    <td><%= mc.comment %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        <% else %>
          <p class="text-center">Actualmente no tiene una ficha médica</p>
        <% end %>
      </div>
      <div class="tab-pane fade" id="trip_notices">
      <%else%>
      <div class="tab-pane fade in active" id="trip_notices">
      <% end %>
        <div class="row text-right">
          <%= link_to 'Nuevo Aviso de Salida', new_trip_notice_path,
            'data-turbolinks': false, class: 'btn btn-info' %>
        </div>
        <h2 class="text-center">Avisos de salida</h2><br>
        <div class="row text-center">
          <div class="col col-md-6 col-md-offset-3">
            <div id="custom-search-input">
              <div class="input-group col-md-12">
                <input type="text" class="search-query form-control"
                       placeholder="Buscar por nombre de ruta o zona/cerro" />
                <span class="input-group-btn">
                  <button class="btn btn-danger" type="button">
                    <span class=" glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div><br>
        <% if @trip_notices.present? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Zona</th>
              <th>Ruta</th>
              <th>Fecha última edición</th>
              <th>Participantes</th>
              <th>Estado</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody id="trip-notices-list">
            <% @trip_notices.each do |t| %>
              <%= render 'trip_notice', t:t %>
            <% end %>
          </tbody>
        </table>
        <% else %>
          <p class="text-center">Actualmente no tiene avisos de salida</p>
        <% end %>
      </div>

    </div>
  </div>
</div>
