<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="text-center">
          <h3><i class="glyphicon glyphicon-lock"></i></h3>
          <h2 class="text-center"><%= t(".forgot_your_password") %></h2>
          <p>Puede resetear su contraseña aquí.</p>
          <div class="panel-body">
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name),
            html: { method: :post }, class: 'form') do |f| %>
              <%= f.error_notification %>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-envelope color-blue"></i>
                  </span>
                  <%= f.input :email, input_html: { class:'form-control' },
                  label: false, placeholder: 'Correo electrónico', required: true, autofocus: true %>
                </div>
              </div>

              <div class="form-group">
                <%= f.button :submit, t(".send_me_reset_password_instructions"),
                class:'btn btn-lg btn-primary btn-block' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
