<h3>* Tipo de actividad</h3>
<div class="row form-group product-chooser disabled">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="product-chooser-item <%= @trip_notice.activity_type == 'mountaineering' ? 'selected' : '' %>">
      <img style="width:100%" src="https://www.freevector.com/uploads/vector/preview/9545/FreeVector-Mountaineering.jpg"
           class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Montañismo">
            <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
        <span class="title">Montañismo</span>
        <input type="radio" name="trip_notice[activity_type]" value="mountaineering"
               checked="<%= @trip_notice.activity_type == 'mountaineering' ? 'true' : 'false' %>" required="required" aria-required="true"
               id="trip_notice_activity_type_mountaineering">
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="product-chooser-item <%= @trip_notice.activity_type == 'trekking' ? 'selected' : '' %>">
      <img style="width:100%" src="https://www.freevector.com/uploads/vector/preview/15286/FreeVector-Mountain-Hiking.jpg"
           class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Senderismo">
            <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
        <span class="title">Senderismo</span>
        <input type="radio" name="trip_notice[activity_type]" value="trekking"
               checked="<%= @trip_notice.activity_type == 'trekking' ? 'true' : 'false' %>" required="required" aria-required="true"
               id="trip_notice_activity_type_trekking">
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="product-chooser-item <%= @trip_notice.activity_type == 'climbing' ? 'selected' : '' %>">
      <img style="width:100%" src="https://www.freevector.com/uploads/vector/preview/9703/FreeVector-Mountain-Climber-Silhouette.jpg"
           class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Escalada">
            <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
        <span class="title">Escalada</span>
        <input type="radio" name="trip_notice[activity_type]" value="climbing"
               checked="<%= @trip_notice.activity_type == 'climbing' ? 'true' : 'false' %>" required="required" aria-required="true"
               id="trip_notice_activity_type_climbing">
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6">
    <h3>* Zona/Cerro <span><i title="El lugar donde irás. Puede ser un valle, una reserva natural, un cordón, o una montaña" class="fa fa-question-circle-o tooltip-icon"></i></span></h3>
    <%= f.input :zone, input_html: { class: 'form-control',
      placeholder: 'Zona/Cerro' }, label: false, required: true %>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6">
    <h3>Ruta <span><i title="La ruta que hará en el cerro o valle mismo. Puede ser un enlace a alguna página donde esté el detalle de ella" class="fa fa-question-circle-o tooltip-icon"></i></span></h3>
    <%= f.input :route, input_html: { class: 'form-control',
      placeholder: 'Ruta' }, label: false %>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h3>* Participantes</h3>
    <%= f.input :participant_ids, collection: User.all.collect {|a| [a.full_name, a.id]}.sort {|a,b| a<=>b},
      selected: @trip_notice.participant_ids.present? ? @trip_notice.participant_ids : current_user.id, input_html: { class: ' form-control multi-select',
      multiple: true, 'data-placeholder': 'Participantes' }, label: false,
      include_blank: false, required: true %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h3>* Contacto CAU</h3>
    <%= f.input :cau_contact_id, collection: User.all.where.not(id: current_user.id).where.not(role: [:external, :admin]).order(:last_name),
      input_html: { class: 'form-control' }, label_method: :full_name, value_method: :id,
      label: false, required: true %>
  </div>
</div>
<h3>Participantes no socios <span><i title="Campo para agregar compañeros que no son miembros del CAU" class="fa fa-question-circle-o tooltip-icon"></i></span></h3>
<div class="panel panel-default">
  <%= f.simple_fields_for :integrants do |integrant| %>
    <div class="form-group row multiple-form-group integrants" style="padding:10px;margin:0">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
        <label class="control-label">Datos personales</label>
        <%= integrant.input :name, input_html: { class: 'form-control name',
          placeholder: 'Nombre' }, label: false, required: true %>
        <br>
        <%= integrant.input :phone, input_html: { class: 'form-control phone',
          placeholder: 'Teléfono' }, label: false, required: true %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
        <label class="control-label">Contacto de emergencia</label>
        <%= integrant.input :emergency_contact, input_html: { class: 'form-control emergency_contact',
          placeholder: 'Nombre' }, label: false, required: true %>
        <br>
        <%= integrant.input :contact_phone, input_html: { class: 'form-control contact_phone',
          placeholder: 'Teléfono' }, label: false, required: true %>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
        <label class="control-label">Información médica</label>
        <%= integrant.input :illnesses, input_html: { class: 'form-control illnesses',
          placeholder: 'Enfermedades, alergias y operaciones' }, label: false %>
        <br>
        <%= integrant.input :medication, input_html: { class: 'form-control medication',
          placeholder: 'Medicamentos habituales' }, label: false %>
        <br>
        <%= integrant.input :risks, input_html: { class: 'form-control risks',
          placeholder: 'Riesgos/comentarios' }, label: false %>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-add">+</button>
        </span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
        <span class="input-group-btn">
          <button type="button" class="btn btn-danger btn-remove">–</button>
        </span>
      </div>
    </div>
  <% end %>
</div>


<h3>* Itinerario <span><i title="Descripción de dónde comienza y termina cada jornada de la salida" class="fa fa-question-circle-o tooltip-icon"></i></span></h3>
<div class="panel panel-default">
  <%= f.simple_fields_for :itinerary_items do |item| %>
    <div class="form-group row multiple-form-group itinerary" style="padding:10px;margin:0">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <%= item.input :activity, input_html: { class: 'form-control activity',
          placeholder: 'Actividad' }, label: false, required: true %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= item.input :start_date, input_html: { class: 'form-control start-date' },
        label: false, required: true, placeholder: 'DD/MM/AAAA HH:MM', as: :datetime_picker %>
        <br>
        <%= item.input :end_date, input_html: { class: 'form-control end-date' },
        label: false, required: true, placeholder: 'DD/MM/AAAA HH:MM', as: :datetime_picker %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <%= item.input :start_altitude, input_html: { class: 'form-control start-altitude',
          placeholder: 'Altitud inicial' }, label: false %>
        <br>
        <%= item.input :end_altitude, input_html: { class: 'form-control end-altitude',
          placeholder: 'Altitud máxima' }, label: false %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 text-center">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-add">+</button>
        </span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
        <span class="input-group-btn">
          <button type="button" class="btn btn-danger btn-remove">–</button>
        </span>
      </div>
    </div>
  <% end %>
</div>
<h3>Itinerario alternativo (observaciones) <span><i title="Descripción de una ruta alternativa en caso que consideres tener una" class="fa fa-question-circle-o tooltip-icon"></i></span></h3>
<div class="form-group row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= f.input :alternative_itinerary_comment, input_html: { class: 'form-control',
      rows: 10, placeholder: 'Explique las medidas a tomar en caso de eventualidades' },
      label: false %>
  </div>
</div>
<div class="form-group row" style="overflow:initial">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h3>* Fecha de regreso límite <span><i title="Fecha y hora en la que debe ser avisado el contacto CAU de tu retraso. Considera estimaciones razonables de acuerdo al objetivo planteado" class="fa fa-question-circle-o tooltip-icon"></i></span></h3>
    <%= f.input :return_date, input_html: { class: 'form-control' }, label: false, placeholder: 'DD/MM/AAAA HH:MM',
      required: true, as: :datetime_picker %>
  </div>
</div>
<h3>Pronóstico del tiempo</h3>
<div class="form-group row">
  <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6">
    <label class="control-label">Enlace</label>
    <%= f.input :weather_forecast_link, input_html: { class: 'form-control',
      placeholder: 'http://www.mountain-forecast.com/...' }, label: false %>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6">
    <label class="control-label">* Captura de pantalla (máx 5MB)</label>
    <div class="input-group weather-img image-preview">
      <input type="text" class="form-control image-preview-filename" disabled="disabled"
        value="<%= @trip_notice.weather_forecast_img_file_name %>">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
          <span class="glyphicon glyphicon-remove"></span> Quitar
        </button>
        <div class="btn btn-default image-preview-input">
          <span class="glyphicon glyphicon-folder-open"></span>
          <span class="image-preview-input-title">Buscar</span>
          <%= f.file_field :weather_forecast_img, required: true, accept: "image/*" %>
        </div>
      </span>
    </div>
    <% if @trip_notice.errors.messages[:weather_forecast_img].present? %>
      <span class="error">
        <%= @trip_notice.errors.messages[:weather_forecast_img][0] if @trip_notice.errors.messages[:weather_forecast_img].present? %>
      </span>
    <% end %>
  </div>
</div>
<h3>* Riesgos <span><i title="Peligros a los cuales podrían estar expuestos considerando características de la ruta, conocimiento, experiencia, época del año y tiempo" class="fa fa-question-circle-o tooltip-icon"></i></span></h3>
<div class="panel panel-default">
  <%= f.simple_fields_for :risks do |risk| %>
    <div class="form-group row multiple-form-group risks" style="padding:10px;margin:0">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <%= risk.input :name, input_html: { class: 'form-control name',
          placeholder: 'Nombre' }, label: false, required: true %>
        <br>
        <%= risk.input :altitude, input_html: { class: 'form-control altitude',
          placeholder: 'Altitud' }, label: false %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= risk.input :prevention, input_html: { class: 'form-control prevention',
          rows: 4, placeholder: 'Prevención' }, label: false, required: true %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= risk.input :mitigation, input_html: { class: 'form-control mitigation',
          rows: 4, placeholder: 'Mitigación' }, label: false, required: true %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <%= risk.input :comment, input_html: { class: 'form-control comment',
          rows: 4, placeholder: 'Comentarios' }, label: false %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-add">+</button>
        </span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
        <span class="input-group-btn">
          <button type="button" class="btn btn-danger btn-remove">–</button>
        </span>
      </div>
    </div>
  <% end %>
</div>
<h3>Observaciones</h3>
<div class="form-group row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= f.input :observations, input_html: { class: 'form-control', rows: 10,
      placeholder: '
      - Señalar equipamiento crítico personal
      - Señalar si llevan inReach
      - Señalar si llevan radio y la frecuencia que utilizarán
      - Señalar si llevan GPS con track, aplicación celular con track (cuál) o mapa físico de la zona (cuál)
      - Señalar si llevan botiquín personal y grupal
      - Otras fuentes de información revisadas (relatos de personas, otra página web)
      - Comentarios generales' },
      label: false %>
  </div>
</div>
<h3>Transporte</h3>
<div class="panel panel-default">
  <%= f.simple_fields_for :trip_conveyances do |tc| %>
    <div class="form-group row multiple-form-group conveyance" style="padding:10px;margin:0">
      <%= tc.simple_fields_for :conveyance do |c| %>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <%= c.input :conveyance_type, collection: Conveyance.conveyance_types.collect { |ct| [Conveyance.human_attribute_name("conveyance_type.#{ct[0]}"), ct[0]] },
          input_html: { class: 'form-control ctype' }, label: false %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <%= c.input :company, input_html: { class: 'form-control company',
            placeholder: 'Compañía' }, label: false %>
          <%= c.input :brand, input_html: { class: 'form-control brand',
            placeholder: 'Marca' }, label: false, required: true %>
          <br>
          <%= c.input :model, input_html: { class: 'form-control model',
            placeholder: 'Modelo' }, label: false %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <%= c.input :number, input_html: { class: 'form-control number',
            placeholder: 'Número recorrido' }, label: false %>
          <%= c.input :color, input_html: { class: 'form-control color',
            placeholder: 'Color' }, label: false, required: true %>
          <br>
          <%= c.input :plate, input_html: { class: 'form-control plate',
            placeholder: 'Patente' }, label: false %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <%= c.input :driver, input_html: { class: 'form-control driver',
            placeholder: 'Conductor' }, label: false, required: true %>
        </div>
      </div>

      <% end %>

      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 text-center">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-add">+</button>
        </span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
        <span class="input-group-btn">
          <button type="button" class="btn btn-danger btn-remove">–</button>
        </span>
      </div>
    </div>
  <% end %>
</div>
<h3>Número de emergencia <span><i title="Familiar o persona cercana que sabe de tu salida y al cual hay que avisar en caso de algún retraso o incidente" class="fa fa-question-circle-o tooltip-icon"></i></span></h3>
<div class="panel panel-default">
  <%= f.simple_fields_for :contacts do |contact| %>
    <div class="form-group row multiple-form-group contacts" style="padding:10px;margin:0">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <%= contact.input :name, input_html: { class: 'form-control name',
            placeholder: 'Nombre' }, label: false, required: true %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <%= contact.input :email, input_html: { class: 'form-control email',
            placeholder: 'Correo electrónico' }, label: false %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <%= contact.input :phone, input_html: { class: 'form-control phone',
            placeholder: 'Teléfono' }, label: false, required: true %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <%= contact.input :additional_phone, input_html: { class: 'form-control additional-phone',
            placeholder: 'Teléfono adicional' }, label: false %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-add">+</button>
        </span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
        <span class="input-group-btn">
          <button type="button" class="btn btn-danger btn-remove">–</button>
        </span>
      </div>
    </div>
  <% end %>
</div>

<h3>Agregar mails <span><i title="Listado de correos a los cuales les llegará el aviso de salida y las notificaciones de la fecha  de regreso" class="fa fa-question-circle-o tooltip-icon"></i></span></h3>
<div class="panel panel-default">
  <%= f.simple_fields_for :receivers do |receiver| %>
    <div class="form-group row multiple-form-group receivers" style="padding:10px;margin:0">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <%= receiver.input :mail, input_html: { class: 'form-control mail',
            placeholder: 'Mail' }, label: false, required: true %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-add">+</button>
        </span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
        <span class="input-group-btn">
          <button type="button" class="btn btn-danger btn-remove">–</button>
        </span>
      </div>
    </div>
  <% end %>
</div>

<div class="form-actions row">
  <div class="col-md-5">
    <%= f.submit 'Guardar', class: 'btn btn-success' %> <%= link_to 'Cancelar', :back, class: 'btn btn-default' %>
  </div>
</div>
