<h1 class="text-center">Nuevo Aviso de Salida</h1>

<div style="width:90%;margin:auto">
  <%= simple_form_for(@trip_notice) do |f| %>
    <%= f.error_notification %>
    <%= render 'form', f:f %>
  <% end %> 


</div>
