<% if @trip_notices.present? %>
  $('#trip-notices-list').html("<% @trip_notices.each do |t| %>\
                                  <%= j render 'users/trip_notice', t:t %>\
                                <% end %>");
<% else %>
  $('#trip-notices-list').html("<p class='text-center'>No se encontraron para la búsqueda: '<%= @query %>'</p>");
<% end %>
