<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h1>Estimad@, </h1>
    <p>Este es un recordatorio para que revise si los participantes de la salida a <%= @trip_notice.zone %> de la cual usted es el contacto CAU han regresado.</p>
  	<p>En caso de que no logre comunicarse o haya ocurrido un accidente, por favor avise a los contactos de emergencia de los participantes y tome las medidas necesarias según el <%= link_to 'protocolo de emergencia', 'http://www.cau.cl/' %>.</p>
    <h2>Contactos de emergencia</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Teléfono</th>
        </tr>
      </thead>
      <tbody>
        <% @trip_notice.participants.each do |pa| %>
          <% e_contact = pa.emergency_contact %>
          <tr>
            <td><%= e_contact.present? ? e_contact.full_name2 : '-' %></td>
            <td><%= e_contact.present? ? e_contact.phone : '-' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h2>Números de emergencia</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Teléfono</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Socorro andino</td>
          <td>+562 2699 47 64/+562 2698 90 94</td>
        </tr>
        <tr>
          <td>Carabineros</td>
          <td>+562 2922 00 00</td>
        </tr>
      </tbody>
    </table>
    <p>Atte.,</p>
    <p>Club Andino Universitario</p>
  </body>
</html>
