<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h2>Estimados, </h2>
    <p>Se adjunta aviso de salida.</p>
  	<p>
      <strong>Participantes: </strong>
      <% @trip_notice.participants.each_with_index do |participant, index| %>
        <%= ', ' if index > 0 %>
        <%= participant.full_name2 %>
      <% end %>
      <% @trip_notice.integrants.each do |integrant| %>
        <%= ', ' + integrant.name.titleize if integrant.name.present? %>
      <% end %>
    </p>
    <p><strong>Contacto CAU: </strong><%= @trip_notice.cau_contact.full_name2 + ' | ' + @trip_notice.cau_contact.email %></p>
    <p><strong>Fecha de regreso: </strong><%= @trip_notice.return_date.strftime('%e %b %Y %H:%m') %></p>
    <br>
    <p>Saludos</p>
    <p><%= @user.full_name2 %></p>
  </body>
</html>
