
<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4">
    <div class="account-wall">
    <span style="font-size:26px">Club Andino Universitario</span>
    <%= image_tag("login_dark_blue.png", class: 'profile-img rotate') %>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-signin') do |f| %>
      <div class="form-inputs">
        <%= f.input :email, input_html: { class: 'form-control' }, label: false,
                    placeholder: 'Correo electrónico', required: false, autofocus: true %>
        <%= f.input :password, input_html: { class: 'form-control', maxlength: 9 },
                    label: false, placeholder: 'Contraseña', required: false %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t(".sign_in"), class: 'btn btn-lg btn-primary btn-block' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
