@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import 'select2';
@import 'select2-bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

@import 'users';
@import 'sessions';
@import 'trip_notice';
@import 'menu';

$c1: #1abc9c;
$c2: #34495e;
$c3: #edeff1;
$c4: #1ABCDF;
$c5: #34495F;

// General

.btn-info:hover {
  background-color: #1abc9c;
}

.gr {
  color: $c1;
}

.bl {
  color: $c5;
}

body {
  margin-top: 81px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: $c5;
}

textarea {
  resize: none;
}

.tooltip-icon:hover {
  color: $c1;
}

// Simple form
.error, .error_notification {
  background-color: #BE3738;
  color: white;
  border-radius: 3px;
  padding: 3px;
  display: block;
}

div.radio_buttons {
  label.radio_buttons {
    display: block;
  }
  span.radio {
    margin-right: 15px;
  }
}

// Vertical center
.vcenter {
  display:flex;
  align-items: center;
}

.select2-container {
  width: inherit !important;
}

.tooltip-inner {
  background-color: $c2;
  font-weight: bold;
}

.tooltip-arrow {
  border-top-color: $c2 !important;
}

footer {
  height: 50px;
  margin-top: 20px;
  .container {
    background-color: $c3;
    .row {
      line-height: 25px;
    }
    margin: 0;
    width: 100%;
    padding: 15px;
    color: #34495e;
    span {
      color: $c2;
      font-weight: bold;
    }
    a {
      color: $c2;
      cursor: auto;
    }
    a.fb {
      font-size: 25px;
    }
    a:hover {
      color: $c1;
    }
  }
}

.tab-pane {
  padding-top: 5px;
}
