.dropdown-menu>li>a {
    color:#428bca;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:300px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}



nav.navbar-default {
  background-color: #ECF0F0;
  padding: 15px 0;
  .navbar-brand {
    color: #34495F;
    font-size: 24px;
    font-family: sans-serif;
    img {
      display: inline;
      margin-right: 15px;
    }
  }
  .navbar-brand:hover {
    color: #1abc9c;
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .navbar-nav {
    .open a {
      background-color: transparent !important;
    }
    li a {
      color: #34495F;
      font-size: 16px;
      font-weight: 700;
    }
    li a.dropdown-toggle {
      color: #5bc0de;
    }
    li.dropdown {
      margin-left: 15px;
    }
    li a:hover {
      color: #1abc9c;
    }
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
