.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

// .form-control.email {
//   margin-bottom: -1px;
//   border-bottom-left-radius: 0;
//   border-bottom-right-radius: 0;
//   height: 44px !important;
// }

// .form-control.password {
//   margin-bottom: 10px !important;
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
//   height: 44px !important;
// }

.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.account-wall {
  margin-top: 80px;
  padding: 40px 30px 40px 30px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.panel-body h3 i {
  font-size: 70px;
}
