<% if user_signed_in? %>
<footer>
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-md-7">
        Copyright &copy; <%= Date.current.year %> <span>Club Andino Universitario</span> | Contacto: <em><%= link_to 'contacto@cau.cl', 'mailto:contacto@cau.cl' %></em> | Social: <%= link_to raw("<i class='fa fa-facebook-square'></i>"), 'https://www.facebook.com/clubandinouniversitario', target: '_blank', class: 'fb' %>
      </div>
      <div class="col-xs-12 col-md-5">
        Desarrollado por <b>Francisco Vallés</b> y <b>Daniela Quiroz</b>
        <p class="small">*Errores y consultas a: <b>fjvallesj@gmail.com</b></p>
      </div>
    </div>
  </div>
</footer>
<% end %>
