<% if user_signed_in? %>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to authenticated_root_path, class: 'navbar-brand' do %>
        <%= image_tag("logoCAU.png", height: '40') %>
        <b>Club Andino Universitario</b>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Usuarios', users_path if current_user.admin? %>
        </li>
        <li>
          <%= link_to raw("<span class='glyphicon glyphicon-plus'></span> Aviso de salida"), new_trip_notice_path, 'data-turbolinks': false %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <b>Hola, <%= current_user.first_name.titleize %></b> <span class="glyphicon glyphicon-menu-down"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to raw("Mi Perfil <span class='glyphicon glyphicon-user pull-right'></span>"), me_users_path %>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <%= link_to raw("Cerrar sesión <span class='glyphicon glyphicon-log-out pull-right'></span>"), destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% end %>
