<!DOCTYPE html>
<html>
  <head>
    <title>Socios CAU</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/menu" %>
    <div id="notice"><%= bootstrap_flash %></div>
    <div class="container">
      <div style="display:none" class="alert alert-success"></div>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
