<!DOCTYPE html>
<html>
  <head>
    <title>Socios CAU</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #ECF0F0;">
    <%= render "layouts/menu" %>
    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
